fastapi[standard]
uvicorn[standard]
sqlalchemy
alembic
psycopg2-binary
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.2.1
python-multipart
python-dotenv
boto3
cloudinary
pydantic[email]
pydantic-settings
